<%- include("partials/header") -%>


<div class="container">
  <div class="back-btn-div">
      <a href="/index"><i class="fas fa-arrow-circle-left"></i></a>
      <h1 class="brand"><span>CGPA</span> Calculator</h1>
  </div>
  <div class="wrapper">
    <div class="dept-info">
      <div class="logo-div">
        <img src="/css/mit1-logo.png" alt="" class="logo">
      </div>
      <div class="logo-title">
        <ul>
          <li>Madras Institute of Technology campus,</li>
          <li>Anna University,</li>
          <li>Chromepet.</li>
        </ul>
      </div>
    </div>
    <div class="selected-info">
      <form >
        <p>
          <label>Department</label>
          <input type="text" name="" value="Computer Science and Engineering" readonly>
        </p>
        <p>
          <label>Regulation</label>
          <input type="text" name="" value="R2018" readonly>
        </p>
        <p>
          <label>Semester</label>
          <input type="text" name="" value="VI" readonly>
        </p>
        <p>
          <label>Total Credits</label>
          <input type="text" id="cr" name="" value="19/25" readonly>
        </p>
        <p>
          <label>NO Of Subjects</label>
          <input type="number" name="" id="nos" value="5" readonly>
        </p>
      </form>
    </div>


  </div>
</div>



<!-- table -->
<table id="table">
  <tr>
    <th>S.No</th>
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Credit</th>
    <th id="highlight">Grade</th>
  </tr>

    <tr>
      <td>1</td>
      <td class="null"></td>
      <td>Professional
Soft Core II</td>
      <td id = "cre1"><div class="">
        <label for=""><input id="v14"type="radio" name="credit1" value="4">4</label>
        <label for=""><input id="v16"type="radio" name="credit1" value="6">6</label>
      </div></td>
      <td><form class="" action="/result" method="post">
        <select id="sub1" class="" name="bsl">
          <option  value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>2</td>
      <td class="null"></td>
      <td>Professional
Soft Core III</td>
      <td id = "cre2"><div class="">
        <label for=""><input id="v24"type="radio" name="credit2" value="4">4</label>
        <label for=""><input id="v26"type="radio" name="credit2" value="6">6</label>
      </div></td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub2" class="" name="chem">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>

    <tr>
      <td>3</td>
      <td class="null"></td>
      <td  >Professional
Soft Core IV</td>
      <td id ="cre3"><div class="">
        <label for=""><input id="v34" type="radio" name="credit3" value="4">4</label>
        <label for=""><input id="v36" type="radio" name="credit3" value="6">6</label>
      </div></td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub3" class="" name="eg">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>4</td>
      <td class="null"></td>
      <td>Professional
Elective I</td>
      <td >4</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub4" class="" name="wrk">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>5</td>
      <td>CS6611</td>
      <td>Creative and
Innovative
Project</td>
      <td id = "cre5">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub5" class="" name="eng">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>


</table>
<button onclick="compute_cs_6()"  name="button" class="button"  id="log" >CALCULATE</button>

<h4 style="text-align: center;">Your GPA : <span id="result"></span> </h4>

<%- include("partials/footer") -%>
