

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CGPA CALC</title>
    <link rel="icon" href="/css/acss/favicon-16×16.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/acss/styles.css">
  </head>
  <body>
<div class="container">
  <div class="back-btn-div">
      <a href="/index"><i class="fas fa-arrow-circle-left"></i></a>
      <h1 class="brand"><span>CGPA</span> Calculator</h1>
  </div>
  <div class="wrapper">
    <div class="dept-info">
      <div class="logo-div">
        <img src="/css/mit1-logo.png" alt="" clawss="logo">
      </div>
      <div class="logo-title">
        <ul>
          <li>Madras Institute of Technology campus,</li>
          <li>Anna University,</li>
          <li>Chromepet.</li>
        </ul>
      </div>
    </div>
    <div class="selected-info">
      <form action="mailto:hemiitedion22@gmail.com"  method="post" enctype="text/plain">
        <h3 class="full">Email Us</h3>
        <p>
          <label>Name</label>
          <input type="text" name="name"  >
        </p>
        <p>
          <label>Email</label>
          <input type="email" name="email">
        </p>
        <p class="full">
          <label >Message</label>
          <textarea  name="message" rows="5"></textarea>
        </p>
        <p class="full">
          <button  type="submit" name="send" class="">SEND</button>
        </p>
      </form>
    </div>


  </div>
</div>

  </body>
</html>
