<%- include("partials/header") -%>


<div class="container">
  <div class="back-btn-div">
      <a href="/index"><i class="fas fa-arrow-circle-left"></i></a>
      <h1 class="brand"><span>CGPA</span> Calculator</h1>
  </div>
  <div class="wrapper">
    <div class="dept-info">
      <div class="logo-div">
        <img src="/css/mit1-logo.png" alt="" class="logo">
      </div>
      <div class="logo-title">
        <ul>
          <li>Madras Institute of Technology campus,</li>
          <li>Anna University,</li>
          <li>Chromepet.</li>
        </ul>
      </div>
    </div>
    <div class="selected-info">
      <form >
        <p>
          <label>Department</label>
          <input type="text" name="" value="AUTOMOBILE" readonly>
        </p>
        <p>
          <label>Regulation</label>
          <input type="text" name="" value="R2015" readonly>
        </p>
        <p>
          <label>Semester</label>
          <input type="text" name="" value="V" readonly>
        </p>
        <p>
          <label>Total Credits</label>
          <input type="text" id="cr" name="" value="22" readonly>
        </p>
        <p>
          <label>NO Of Subjects</label>
          <input type="number" name="" id="nos" value="8" readonly>
        </p>
      </form>
    </div>


  </div>
</div>
<table id="table">
  <tr>
    <th>S.No</th>
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Credit</th>
    <th id="highlight">Grade</th>
  </tr>
    <tr>
      <td>1</td>
      <td>AU7501</td>
      <td>Automotive Components Design</td>
      <td id = "cre1">3</td>
      <td><form class="" action="/result" method="post">
        <select id="sub1" class="" name="bsl">
          <option  value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>2</td>
      <td>AU7502</td>
      <td>Automotive Electrical and Electronics Systems</td>
      <td id = "cre2">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub2" class="" name="chem">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>

    <tr>
      <td>3</td>
      <td>AU7503 </td>
      <td  >Automotive Transmission</td>
      <td id ="cre3">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub3" class="" name="eg">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>4</td>
      <td>AU7504</td>
      <td>Electronic Engine Management System</td>
      <td id = "cre4">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub4" class="" name="wrk">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>5</td>
      <td class="null"></td>
      <td>Professional Elective I </td>
      <td id = "cre5">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub5" class="" name="eng">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>6</td>
      <td class="null"></td>
      <td >Professional Elective II</td>
      <td id = "cre6">3</td>
      <td><form class="" action="/index.html" method="post">
        <select id="sub6" class="" name="mat">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>7</td>
      <td>AU7511</td>
      <td>Automotive Electrical and Electronics Laboratory</td>
      <td id = "cre7">2</td>
      <td><form class="" action="" method="post">
        <select id="sub7" class="" name="phy">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
    <tr>
      <td>8</td>
      <td>AU7512</td>
      <td>Simulation of Engine and Chassis Components Laboratory</td>
      <td id = "cre8">2</td>
      <td><form class="" action="" method="post">
        <select id="sub8" class="" name="phy">
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        </select>
      </form>
    </tr>
</table>
<button onclick="compute()" id="log" name="button" >CALCULATE</button>

<h4 style="text-align: center;">Your GPA :  <span id="result"></span> </h4>




<%- include("partials/footer") %>
